/* Universal Selectors */

/* *{
    color: red;
} */


/* Type Selectors */
/* Single Type Selector*/

/* span{
    color: red;
} */

/* h1{
    color: red;
} */

/* Multiple Type Selectors */

/* h1,span{
    color: red;
} */

/* CLASS SELECTOR */

/* .interest{
  color: red;
} */

/* ID SELECTOR */

/* #my-sapn{
  color: red;
} */

/* CHILD SELECTORS */

/* span > p{
    color: red;
} */

/* DESCENDANT SELECTORS */

/* div p{
    color: red;
} */

/* ADJACENT SIBLING SELECTORS */

/* h1+p{
    color: red;
} */

/* GENERAL SIBLING SELECTORS */

h1~p{
    color: red;
}